body {
    margin: 0;
}

.white {
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-content: space-between;
    align-items: center;
}
.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 500px
}

.header_logo {
    font-size: 24px;
    margin-left: 18%;
    padding: 10px;
    font-weight: bold;
}

.header_link {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
.links {
    margin-left: auto;
    display: flex;
    margin-right: 18%;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 400px;
}

.subtext2 {
    color: #5d5f63;
    font-size: 18px;
}

.maintext {
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
}

.signup {
    background-color: #3882F6;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.title {
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
}

.firstparttwo {
    display: flex;
    margin: auto 0;
    margin-left: 18%;
    margin-right: 18%;
}

.image {
    background-color: rgb(119, 130, 131);
    flex: 1;
    display: flex;
}

.subtext.picture {
    margin: auto;
}

.information {
    font-size: 40px;
    font-weight: bold;
    margin: 35px;
    text-align: center;
}

.third {
    display: flex;
    flex-direction: column;
    margin: 0 23%;
    align-items: center;
    height: 450px;
}

.boxpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.boxes {
    display: flex;
    gap: 35px;
}

.subtext2 {
    text-align: center;
    max-width: 150px;
    margin-top: 10px;
}